{{#extends 'base'}}
{{#block 'content'}}
<h1>Create New Product</h1>
<form method="post">
    {{{form}}}
    <input type="submit" value="Add Product" class="btn btn-primary">
</form>
{{/block}}
{{/extends}}

{{!-- next go to routes/product.js add routes.post function --}}