{{#extends 'base'}}
{{#block 'content'}}

<form action="" method="post">
    {{{form}}}
    <input type="submit" value="Update Product" class="btn btn-info my-2 text-white">
</form>

{{/block}}
{{/extends}}